body {
    background-image: url("/contacts.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header a {
    color: black !important;
    &:focus {
        color: crimson !important;
    }
    &:active {
        color: crimson !important;
    }
    &:first-child {
        color: crimson !important;
    }
}

